---
#
#
---

@import url(stylesheet.css);

.navigation {
  ul {
    display: none;
    list-style-type: none;
  }
  & > ul {
    display: block;
  }
  .active {
    & > a {
      font-weight: bold;
    }
    & > ul {
      display: block;
    }
  }
}


